* {
    margin: 0;
    padding: 0;
}

*::before , *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: antiquewhite;
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color:indianred ;
    box-shadow: 0 2px 0 royalblue;
    z-index: 10;
}

a{
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a{
    display: block;
    padding: 20px;
    color: white;
}

.nav-list a:hover, .project-title:hover{
    transform: translateY(5px);
    color: black;
    text-shadow: 2px 2px 1px burlywood;
    
}

li{
    list-style: none;

}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

img{
    display: block;
    width: 100%;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:darkkhaki ;
    color: black;
    text-shadow: 2px 2px 1px white;
}

.welcome-section > p{
    text-align: center;
    padding:5% 10% 0 10%;
    
    text-shadow: none;
}

.projects-section{
    text-align: center;
    padding: 10rem 2rem;

}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6%;
    padding: 20px;
}

.project{
    background-color:indianred;
    box-shadow: 1px 1px 2px black;
    border-radius: 2px;
}

.projects-section-header{
    color: black;
    text-shadow: 2px 2px 1px white;
}


.code{
    color: indianred;
    transition: color .3s ease-out;
}

.project:hover .code{
    color: black;
}

.project-title {
    font-size: 2rem;
    padding: 1rem .5rem;
    text-align: center; 
    color: black;
    
}


.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color:teal;
}

.contact-section-header {
    color: white;
    text-shadow: 2px 2px 1px black;

}

.contact-section-header >p{
    text-align: center;
    padding: 2% 10% 0 10%;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px 1px black;
    transition: transform .3s ease-out;
}

.contact-details:hover {
    transform: translateY(10px);
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background-color:darkgoldenrod;
    color: white;
    text-shadow: 2px 2px 1px black;
}

footer p {
    margin: 2rem;
}




